.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formColumn {
  display: flex;
  flex-direction: column;
}

.uploadTitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 4px;
}

.photoLabel {
  max-width: 361px;
  width: 100%;
  aspect-ratio: 361 / 383;
  border-radius: 16px;
  background-color: #9f9f9f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
}

.cameraIcon {
  width: 52px;
  height: 52px;
  fill: none;
  stroke-width: 2.56px;
  stroke: black;
}

.photoLabel:hover {
  background-color: #b0b0b0;
}
.previewImage {
  object-fit: cover;
  max-width: 361px;
  width: 100%;
  aspect-ratio: 361 / 383;
  overflow: hidden;
  border-radius: 16px;
}
.inputFile {
  display: none;
}

.sectionTitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.labelTitle {
  font-weight: 400;
  font-size: 18px;
}

.input {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  max-width: 361px;
  height: 48px;
  background-color: #fff;
  transition: border-color 0.5s ease;
}

.input:hover,
.input:focus {
  border: 1px solid #000;
  outline: none;
}

.input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #595d62;
}

.input:focus::placeholder {
  color: transparent;
}

.textarea {
  resize: none;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  max-width: 361px;
  height: 144px;
  transition: border-color 0.5s ease;
}

.textarea:hover,
.textarea:focus {
  border: 1px solid #000;
  outline: none;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #595d62;
}

.textarea:focus::placeholder {
  color: transparent;
}

.rowGroup {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 40px;
}

.caloriesLabel {
  margin-bottom: 0;
}
.calories {
  width: 100%;
  max-width: 172px;
  height: 48px;
}
.category {
  width: 100%;
  max-width: 172px;
  margin-bottom: 0;
}

.rowGroupIngredients {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sectionIngredients {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 32px;
}

.ingredientsName {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 0;
}
.ingredientsAmount {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
  border-radius: 8px;
  color: #fff;
  border: 1px solid #d9d9d9;
  background-color: #9b6c43;
  padding: 12px 16px;
  width: 100%;
  max-width: 361px;
  height: 44px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.btn:hover,
.btn:focus {
  background-color: #6d554b;
  box-shadow: 0 0 0 2px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  outline: none;
}

.addBtn {
  margin-bottom: 32px;
}
.ingredientTable {
  border-spacing: 0;
  max-width: 361px;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid #c5c5c5;
}
.ingredientTabTitle {
  max-width: 361px;
  display: flex;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding-bottom: 16px;
  padding-top: 16px;
}
.ingredientTbName {
  font-weight: 600;
  text-align: start;
  width: 175px;
}
.ingredientItem {
  border-top: 1px solid #c5c5c5;
  display: flex;
  gap: 4px;
  max-width: 361px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  padding: 16px 0px;
}
.chooseIngName {
  width: 175px;
}
.chooseIngMeasure {
  width: 150px;
}
.removeBtn {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 28px;
  padding: 0px 0px 4px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: none;
  stroke: #070707;
}
.instructionsWrapper {
  margin-bottom: 40px;
}

.submitBtn {
  margin-bottom: 0;
}

/* (768px) */
@media (min-width: 768px) {
  .uploadTitle {
    font-size: 32px;
  }

  .photoLabel {
    max-width: none;
    width: 704px;
    aspect-ratio: none;
    height: 383px;
  }
  .previewImage {
    max-width: none;
    width: 704px;
    aspect-ratio: none;
    height: 383px;
  }

  .sectionTitle {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .label {
    margin-bottom: 32px;
  }

  .input {
    width: 704px;
    max-width: none;
  }

  .textarea {
    width: 704px;
    max-width: none;
  }

  .rowGroupIngredients {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 130px;
    margin-bottom: 32px;
  }
  .sectionIngredients {
    font-size: 32px;
  }

  .ingredientsAmount {
    margin-bottom: 0;
  }

  .rowGroup {
    gap: 24px;
  }
  .addWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .calories {
    width: 340px;
    max-width: none;
  }

  .category {
    width: 340px;
    max-width: none;
  }
  .label.caloriesLabel {
    margin-bottom: 0;
  }

  .label.category {
    margin-bottom: 0;
  }

  .ingredientAmount {
    width: 249px;
  }

  .addBtn {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 249px;
    height: 36px;
  }

  .ingredientTable {
    max-width: none;
    width: 431px;
  }

  .ingredientTabTitle {
    max-width: none;
    width: 431px;
  }

  .ingredientItem {
    max-width: none;
    width: 431px;
  }
  .btn {
    max-width: none;
  }
  .submitBtn {
    width: 704px;
    height: 44px;
  }
}

/* (1440px) */
@media (min-width: 1440px) {
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .uploadTitle {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
  }

  .photoLabel {
    width: 391px;
    height: 374px;
  }

  .previewImage {
    width: 391px;
    height: 374px;
  }
  .sectionTitle {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .input {
    width: 809px;
  }

  .cameraIcon {
    width: 99px;
    height: 82px;
    stroke-width: 1px;
  }

  .textarea {
    width: 809px;
    height: 144px;
  }

  .rowGroupIngredients {
    height: 117px;
  }

  .calories {
    width: 392px;
  }
  .category {
    width: 392px;
  }

  .rowGroup {
    margin-bottom: 72px;
  }

  .ingredientAmount {
    width: 288px;
  }

  .addBtn {
    justify-content: center;
    align-items: center;
    width: 258px;
    height: 23px;
    font-size: 12px;
    padding: 4px 8px;
  }
  .addWrapper {
    align-items: end;
  }

  .ingredientTable {
    margin-bottom: 72px;
    width: 332px;
  }

  .ingredientTabTitle {
    width: 332px;
  }

  .ingredientItem {
    width: 332px;
  }
  .label.instructionsWrapper {
    margin-bottom: 72px;
  }
  .submitBtn {
    width: 809px;
  }
}

.inputError {
  border: 1px solid red ;
}

.textareaError {
  border: 1px solid red ;
}

.selectError .react-select__control {
  border-color: red ;
  box-shadow: 0 0 0 1px red;
}

.errorMessage{
  color: red;
  font-size: 18px;
}